tbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

tr{
    margin-right: 20px;
}

label{
    margin-left: 10px;
    margin-right: 20px;
}

input[type="time"]{
    text-align: right;
    direction: rtl;
}

.errorlist,.error{
    color: red;
    font-weight: bold;
}
