{% extends "subscriptions_base.html" %}
{% load static %}
{% block title %}الفواتير{% endblock %}
{% block content %}
{% block head %}
<link rel="stylesheet" href="{% static 'table_style.css' %}">
{% endblock %}
<style>
tr,th{
    text-align: center;
}
</style>

  <h2>فواتير اشتراك {{ invoices.0.subscription }}</h2>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {% if page_obj.has_previous %}

        {% if page_obj.previous_page_number != 1 %}
            <li class="page-item"><a class="page-link" href="?page=1">الصفحة الأولى</a></li>
        {% endif %}

        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
              {{ page_obj.previous_page_number }}
          </a>
        </li>
        {% endif %}

        <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number}}">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              {{ page_obj.next_page_number }}
          </a>
        </li>

        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">الصفحة الأخيرة</a></li>
        {% endif %}

        {% endif %}
      </ul>
    </nav>
  <table class="table u-align-center " style="font-size:125%">
        <thead>
            <tr>
                <th>رقم الفاتورة</th>
                <th>الإجراء</th>
                <th>التاريخ</th>
                <th>المبلغ المستحق</th>
                <th>المبلغ المدفوع</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr>
                <td>S{{ invoice.id|stringformat:"06d" }}</td>
                <td>{{ invoice.action }}</td>
                <td>{{ invoice.time|date:"Y-m-d" }}</td>
                <td>{{ invoice.total_price }}</td>
                <td>{{ invoice.paid }}</td>
                <td>
                    <div>
                        <a href="{% url 'subscriptions:invoice' pk=invoice.id %}"><button class="btn btn-info">طباعة</button></a>
                    </div>
                </td>

            </tr>
             {% endfor %}
        </tbody>
</table>
    <a href="{% url 'subscriptions:subscription-detail' pk=subscription.id %}"><button type="button" style="white-space: nowrap" class="btn btn-secondary btn-lg">عودة</button></a>

{% endblock %}