{% extends "reservation_base.html" %}
{% block title %}تعديل {{object.name}}{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <script src="{% static 'crispy_checkbox_fix.js' %}"></script>
{% endblock %}
{% block content %}
        <h5>تعديل {{object.name}}</h5>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary">تعديل</button>
        </form>
    </div>
{% endblock %}
